version: '3'

services:
  worker:
    build:
      context: .
      args:
        RUNENV: local
    command: >
      sh -c "celery worker \
        -A config.celery \
        -b {{ RABBITMQ_URL }} \
        --loglevel=info \
        -Q packages \
        --hostname=packages01@%h"
    volumes:
      - /usr/share/nginx/html/packages.qiime2.org/:/data
