version: '3'

services:
  worker:
    build:
      context: .
      args:
        RUNENV: local
    environment:
      DATABASE_URL: {{ DATABASE_URL }}
    command: >
      sh -c "celery worker \
        -A config.celery \
        -b {{ RABBITMQ_URL }} \
        -Q packages \
        --hostname=packages01@%h"
    volumes:
      - /usr/share/nginx/html/packages.qiime2.org/:/data

  beat:
    build:
      context: .
      args:
        RUNENV: local
    command: sh -c "celery beat -A config.celery -b {{ RABBITMQ_URL }}"
    volumes:
      - /usr/share/nginx/html/packages.qiime2.org/:/data
