version: '3'

services:
  worker:
    build:
      context: .
      dockerfile: Dockerfile
    command: celery worker -A config.celery -b {{ RABBITMQ_URL }} --loglevel=info -Q packages --hostname=packages01@%h
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.local
    volumes:
      - /usr/share/nginx/html/packages.qiime2.org/:/data
